
/*Estils personalitzats per el Menu*/
.marge-superior-menu {
    margin-top: 20px;
}

.navbar-inner {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    padding: 0px !important;

}

/*Estils personalitzats per el Menu*/